link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")

html
    head
        title="Mi página con un componente de barra de progreso" 
    body
    div(class="container")
     h1(class="mt-4")="Ingrese producto"
       form( method="post" action="/" )
        div(class="form-group mt-4")
         label="Nombre"
         input(type="text", class="form-control" , placeholder="Nombre", name="title")
        div(class="form-group mt-4")
         label="Precio"
         input(type="text" class="form-control "  placeholder="Precio" name="price")
        div(class="form-group mt-4")
         label="Foto URL"
         input( type="text" class="form-control "  placeholder="https://cdn4.iconfinder.com/data/icons/navigation-40/24/chevron-down-512.png" name="thumbnail")
        button(type="submit" class="btn btn-success mt-2")="Enviar"