link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")

html
    head
    body
    h1(class="text-center")="Vista de productos"
     if true==productos.length <=0
        h2="NO HAY PRODUCTOS"
     else
            div(class="container text-center pt-5 ") 
                div(class="container bg-dark text-white")
                    div(class="row")
                     div(class="col-sm pt-2") 
                        p="Nombre"
                     div(class="col-sm pt-2")
                        p="Precio"
                     div(class="col-sm pt-2")
                        p="Foto"
                     ul
                       each producto in productos
                        div(class="row pt-2 pb-2")
                         div(class="col-sm pt-2" style="border-top: 1px solid white")
                            p=producto.title
                         div(class="col-sm pt-2" style="border-top: 1px solid white")
                            p=producto.price
                         div(class="col-sm pt-2" style="border-top: 1px solid white")
                            img(src=producto.thumbnail width="60" heigth="60")

    
    